* {
  margin: 0;
  padding: 0;
}

.question_wrapper {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  max-width: 500px;
  margin: 50px auto;
}
.question_box {
  background: #f1f1f1;
  border: 1px solid #ddd;
}
.question_box .question_head {
  display: flex;
  justify-content: space-between;
  background: #ddd;
  padding: 20px;
}
.question_head p {
  font-size: 20px;
  color: #222;
  text-transform: capitalize;
}
.question_box .question_body {
  padding: 20px;
}
.question_body {
  display: none;
}
.btn {
  padding: 10px;
  font-size: 20px;
  border-radius: 0;
  border: 0;
}
.active .question_body {
  display: block;
}
